In [416]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [417]:
df = pd.read_csv("owid-covid-data_2.csv")

In [418]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-01-23,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-24,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-25,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-27,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

This is a large dataset, and we do not need all of the columns for our analysis, so we will drop the ones we know we will not use.

In [419]:
df.drop(['new_cases_smoothed', 'new_deaths_smoothed', 'new_cases_smoothed_per_million', 
         'new_deaths_smoothed_per_million', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand'],axis=1, inplace=True)

In [420]:
df.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,5.361500e+04,6.245800e+04,4.561700e+04,62458.000000,53303.000000,62131.000000,45318.000000,62131.000000,42503.000000,4820.000000,...,59640.000000,40595.000000,60223.000000,60948.000000,46809.000000,46155.000000,31107.000000,54657.000000,61936.000000,59966.000000
mean,2.348286e+05,2.332707e+03,8.502609e+03,51.911268,3930.044973,42.490562,108.151573,0.757332,1.042418,874.400000,...,18359.628910,13.901737,262.440663,7.899278,10.398516,32.685804,50.322399,2.998910,72.860324,0.708866
std,2.274804e+06,2.293374e+04,6.671221e+04,436.821909,7986.816328,145.254138,206.011422,3.028584,0.379048,2372.795746,...,19391.297382,20.222943,120.484426,4.195268,10.367791,13.519320,31.731927,2.438885,7.542751,0.153622
min,1.000000e+00,-1.003400e+04,1.000000e+00,-1918.000000,0.001000,-2153.437000,0.001000,-76.445000,0.000000,0.000000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,3.950000e+02,0.000000e+00,2.200000e+01,0.000000,81.625500,0.000000,4.011000,0.000000,0.880000,11.000000,...,3823.194000,0.600000,170.050000,5.290000,1.900000,21.600000,19.351000,1.300000,67.270000,0.588000
50%,3.980000e+03,1.400000e+01,1.270000e+02,0.000000,622.395000,1.823000,20.343000,0.000000,1.040000,60.000000,...,11840.846000,2.200000,243.964000,7.110000,6.200000,31.400000,49.542000,2.397000,74.250000,0.736000
75%,3.914900e+04,2.720000e+02,1.098000e+03,4.000000,3940.980000,25.338500,99.594750,0.333000,1.210000,475.250000,...,26382.287000,21.400000,331.430000,10.080000,19.100000,41.100000,82.502000,3.861000,77.970000,0.825000
max,7.284868e+07,1.492366e+06,1.621154e+06,12912.000000,95541.319000,9760.898000,1557.774000,218.329000,6.750000,20922.000000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

We can see from this description (above) of the data that there are clearly some errors in the data.  The minimum of new cases is -8261, which is impossible, also the new deaths min is -1918.  After looking at this, we think that these negatives are simply typos, and should be turned positive to correctly reflect the data.

In [421]:
df["new_cases"] = df["new_cases"].apply(lambda x: (x * -1) if (x < 0)else x)
df["new_deaths"] = df["new_deaths"].apply(lambda x: (x * -1) if (x < 0)else x)
df["new_cases_per_million"] = df["new_cases_per_million"].apply(lambda x: (x * -1) if (x < 0)else x)
df["new_deaths_per_million"] = df["new_deaths_per_million"].apply(lambda x: (x * -1) if (x < 0)else x)
df.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,5.361500e+04,6.245800e+04,4.561700e+04,62458.000000,53303.000000,62131.000000,45318.000000,62131.000000,42503.000000,4820.000000,...,59640.000000,40595.000000,60223.000000,60948.000000,46809.000000,46155.000000,31107.000000,54657.000000,61936.000000,59966.000000
mean,2.348286e+05,2.333696e+03,8.502609e+03,52.011079,3930.044973,42.637079,108.151573,0.766120,1.042418,874.400000,...,18359.628910,13.901737,262.440663,7.899278,10.398516,32.685804,50.322399,2.998910,72.860324,0.708866
std,2.274804e+06,2.293364e+04,6.671221e+04,436.810036,7986.816328,145.211197,206.011422,3.026373,0.379048,2372.795746,...,19391.297382,20.222943,120.484426,4.195268,10.367791,13.519320,31.731927,2.438885,7.542751,0.153622
min,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.001000,0.000000,0.001000,0.000000,0.000000,0.000000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,3.950000e+02,0.000000e+00,2.200000e+01,0.000000,81.625500,0.000000,4.011000,0.000000,0.880000,11.000000,...,3823.194000,0.600000,170.050000,5.290000,1.900000,21.600000,19.351000,1.300000,67.270000,0.588000
50%,3.980000e+03,1.400000e+01,1.270000e+02,0.000000,622.395000,1.832000,20.343000,0.000000,1.040000,60.000000,...,11840.846000,2.200000,243.964000,7.110000,6.200000,31.400000,49.542000,2.397000,74.250000,0.736000
75%,3.914900e+04,2.730000e+02,1.098000e+03,4.000000,3940.980000,25.396000,99.594750,0.336000,1.210000,475.250000,...,26382.287000,21.400000,331.430000,10.080000,19.100000,41.100000,82.502000,3.861000,77.970000,0.825000
max,7.284868e+07,1.492366e+06,1.621154e+06,12912.000000,95541.319000,9760.898000,1557.774000,218.329000,6.750000,20922.000000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

We also see many NaN values before Covid cases and deaths are reported. Theese should obviously be coded as 0.  Not all NaN values will be given a 0 value, just the ones that have to do with Covid.  There are many countries that were not yet affected by Covid when the dataset begins.

In [422]:
df[["new_cases", "total_cases", "total_deaths", "total_cases_per_million", "total_deaths_per_million", 
    "new_deaths_per_million", "icu_patients", "icu_patients_per_million", "hosp_patients", 
    "hosp_patients_per_million", "weekly_icu_admissions", "weekly_icu_admissions_per_million", 
    "weekly_hosp_admissions","weekly_hosp_admissions_per_million", "total_tests", "new_tests", 
    "total_tests_per_thousand", "new_tests_per_thousand", "tests_per_case", "positive_rate", 
    "stringency_index"]] = df[["new_cases", "total_cases", "total_deaths", "total_cases_per_million", 
                               "total_deaths_per_million", "new_deaths_per_million", 
                               "icu_patients","icu_patients_per_million", "hosp_patients", 
                               "hosp_patients_per_million", "weekly_icu_admissions", 
                               "weekly_icu_admissions_per_million", "weekly_hosp_admissions", 
                               "weekly_hosp_admissions_per_million","total_tests", "new_tests", 
                               "total_tests_per_thousand", "new_tests_per_thousand", "tests_per_case", 
                               "positive_rate", "stringency_index"]].fillna(0)
df.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-27,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

We are going to use a subset of this data, only the Europena countries.  We are doing this because we hope to mitigate some of the vast differences between countries by choosing countries that are economically, geographically, and culturally similar.

In [423]:
european_subset = df.loc[df['continent'] == "Europe"]
european_subset.head()

countries = european_subset.location.unique()
print(len(countries))

46

Now we remove some of the small European countries that could skew our data.  The countries removed are: Vatican City, Andorra, Gibraltar, San Marino, Luxembourg, Liechtenstein, Malta, Monaco, and Kosovo, Cyprus, Iceland, Belarus

In [ ]:
#Clean up European dataset
# #df.drop(df[df['Age'] < 25].index, inplace = True) 
#print(european_subset.iso_code.unique())
european_subset.drop(european_subset[european_subset["iso_code"] == "VAT"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "AND"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "GBR"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "SMR"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "LUX"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "LIE"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "MLT"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "MCO"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "OWID_KOS"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "CYP"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "ISL"].index, inplace = True)
european_subset.drop(european_subset[european_subset["iso_code"] == "BLR"].index, inplace = True)

european_subset.drop(european_subset[european_subset["iso_code"] == "NOR"].index, inplace = True)
# european_subset.drop(european_subset[european_subset["iso_code"] == "MKD"].index, inplace = True)
# european_subset.drop(european_subset[european_subset["iso_code"] == "POL"].index, inplace = True)

european_subset.drop(european_subset[european_subset["iso_code"] == "MNE"].index, inplace = True)


print(european_subset.iso_code.unique())

/Users/mjoneill/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
#grouped_by_deaths_per_million = european_subset.groupby("iso_code")["total_deaths_per_million"].max()
g = european_subset.groupby(["iso_code"])
grouped_by_deaths_per_million = g.last()
grouped_by_deaths_per_million = grouped_by_deaths_per_million["total_deaths_per_million"]
grouped_by_deaths_per_million

In [ ]:
population_density= european_subset.groupby("iso_code")["population_density"].max()
#population_density

In [ ]:
#Relation between population density and deaths per million
sns.regplot(population_density,grouped_by_deaths_per_million)

In [ ]:
#now for Cardiovascular Death Rate
cardiovascular_death_rate= european_subset.groupby("iso_code")["cardiovasc_death_rate"].max()

sns.regplot(cardiovascular_death_rate, grouped_by_deaths_per_million)

In [ ]:
#now for median age and covid deaths per 1 million
median_age = european_subset.groupby("iso_code")["median_age"].max()

sns.regplot(median_age, grouped_by_deaths_per_million)

In [ ]:
#now for aged 65 and older rate
sixty_five_and_older = european_subset.groupby("iso_code")["aged_65_older"].max()

sns.regplot(sixty_five_and_older, grouped_by_deaths_per_million)

In [ ]:
#now doing stringency index



stringency_index = european_subset.groupby("iso_code")["stringency_index"].max()
sns.regplot(stringency_index, grouped_by_deaths_per_million)



x = stringency_index
y = grouped_by_deaths_per_million
labels = european_subset.iso_code.unique()

fig, ax, = plt.subplots(1, figsize=(10,6))
fig.suptitle("Stringency Index")

ax.scatter(x,y,color="blue", s=100, alpha=0.5,linewidths=1)

for x_pos, y_pos, label in zip(x,y,labels):
    ax.annotate(label, 
                xy=(x_pos, y_pos), 
                xytext = (7,0),
               textcoords="offset points",
               ha="left",
               va='center')
plt.show()

print(stringency_index)

In [ ]:
#now doing diabetes prevalence
diabetes_prevalence = european_subset.groupby("iso_code")["diabetes_prevalence"].max()

sns.regplot(diabetes_prevalence, grouped_by_deaths_per_million)

In [ ]:
#now for human development index
hdi = european_subset.groupby("iso_code")["human_development_index"].max()

sns.regplot(hdi, grouped_by_deaths_per_million)

In [ ]:
#now for male smokers max

male_smokers = european_subset.groupby("iso_code")["male_smokers"].max()

sns.regplot(male_smokers, grouped_by_deaths_per_million)

In [ ]:
gdp_per_capita = european_subset.groupby("iso_code")["gdp_per_capita"].max()
sns.regplot(gdp_per_capita, grouped_by_deaths_per_million)